<section id="about" class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 about-left"><img src="https://karmen-vue.netlify.app/assets/img/about-img.png" alt="personal pic" class="img-fluid">
            </div>
            <div class="col-lg-5 col-md-12 about-right">
                <div class="section-title mb-50">
                    <h2>about myself</h2>
                </div>
                <div data-wow-duration=".8s" class="mb-50 wow fadeIn"
                    style="visibility: visible; animation-duration: 0.8s; animation-name: fadeIn;">
                    <p>
                        I’m a Front End Developer. I have a Passion for Creating Clean,
                        Beautiful, Interactive, Minimalistic, Responsive and User Friendly
                        UI, Developed by Modular, Scalable and Functional Code. When,
                        while the lovely valley teems with vapour around me.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book.
                    </p>
                </div> 
                <a href="#contact" data-text="Hire Me" class="primary-btn transition white mr-3"><span>Hire Me</span></a> 
                <a href="#history" data-text="Resume" class="primary-btn transition"><span>Resume</span></a>
            </div>
        </div>
    </div>
</section>