<section id="contact" class="contact-area section-gap">
    <div class="container">
        <div class="row mb-50">
            <div class="col-lg-12">
                <div class="contact-title">
                    <h2>Contact Me</h2>
                    <p>
                        It is a long established fact that a reader will be distracted by
                        the readable content of a page when looking at its layout. some
                        for as low as $.17 each.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>+22 12345 678 9012</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>information@example.com</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>KarimEzZat.me</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center"><a href="#" data-text="Hire Me"
                    class="primary-btn transition mt-50"><span>H</span> <span>i</span> <span>r</span> <span>e</span>
                    <span></span> <span>M</span> <span>e</span></a></div>
        </div>
    </div>
</section>