<div>
    <header id="header" class="header_area" [ngClass]="{'header-scrolled': isWindowScrolled}">
        <div class="container header_pt20">
            <div class="row d-flex align-items-center">
                <div class="logo_area"><a href="#"><img src="https://karmen-vue.netlify.app/assets/img/logo.png" alt="logo"></a></div>
                <div class="menu-open-close" (click)="toggleMenu()">
                    <div id="nav-icon" [ngClass]="{'open': isMenuOpen}"><span></span> <span></span> <span></span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="custom-menu-area" [ngClass]="{'menu-open': isMenuOpen}">
        <div class="custom-main-menu h-100 d-flex align-items-center">
            <nav class="navbar navbar-expand-lg">
                <div id="custom-nav">
                    <ul id="customNav" class="navbar-nav">
                        <li class="active"><a href="#body" class="nav-link">Home <span
                                    class="sr-only">(current)</span></a></li>
                        <li><a href="#about" class="nav-link">About Us</a></li>
                        <li><a href="#skill" class="nav-link">Skills</a></li>
                        <li><a href="#work" class="nav-link">Works</a></li>
                        <li><a href="#history" class="nav-link">Histroy</a></li>
                        <li><a href="#service" class="nav-link">Services</a></li>
                        <li><a href="#" class="nav-link">Blog</a></li>
                        <li><a href="#contact" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header-social-info d-flex align-items-center justify-content-end">
            <div class="h-social-icon"><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a> <a href="#"><i
                        aria-hidden="true" class="fa fa-twitter"></i></a> <a href="#"><i aria-hidden="true"
                        class="fa fa-instagram"></i></a> <a href="#"><i aria-hidden="true" class="fa fa-vimeo"></i></a>
                <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>

    <!-- <div class="custom-menu-area menu-open">
        <div class="custom-main-menu h-100 d-flex align-items-center">
            <nav class="navbar navbar-expand-lg">
                <div id="custom-nav">
                    <ul id="customNav" class="navbar-nav">
                        <li class="active"><a href="#body" class="nav-link open">Home <span
                                    class="sr-only">(current)</span></a></li>
                        <li><a href="#about" class="nav-link open">About Us</a></li>
                        <li><a href="#skill" class="nav-link open">Skills</a></li>
                        <li><a href="#work" class="nav-link open">Works</a></li>
                        <li><a href="#history" class="nav-link open">Histroy</a></li>
                        <li><a href="#service" class="nav-link open">Services</a></li>
                        <li><a href="#" class="nav-link open">Blog</a></li>
                        <li><a href="#contact" class="nav-link open">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header-social-info d-flex align-items-center justify-content-end">
            <div class="h-social-icon"><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a> <a href="#"><i
                        aria-hidden="true" class="fa fa-twitter"></i></a> <a href="#"><i aria-hidden="true"
                        class="fa fa-instagram"></i></a> <a href="#"><i aria-hidden="true" class="fa fa-vimeo"></i></a> <a
                    href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a></div>
        </div>
    </div> -->
</div>

<section class="home-banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center" style="height: 895px;">
            <div class="banner-content col-lg-6 col-md-12 justify-content-center">
                <div data-wow-duration="1s" data-wow-delay="1.2s" class="me wow fadeInDown"
                    style="visibility: visible; animation-duration: 1s; animation-delay: 1.2s; animation-name: fadeInDown;">
                    It's me
                </div>
                <h1 data-wow-duration="1s" data-wow-delay="1.7s" class="wow fadeInUp"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    Kareem EzZat
                </h1>
                <div data-wow-duration="1s" data-wow-delay="2.1s" class="designation mb-50 wow fadeInUp"
                    style="visibility: visible; animation-duration: 1s; animation-delay: 2.1s; animation-name: fadeInUp;">
                    Senior Creative
                    <span class="designer">Designer</span>
                    and Content
                    <span class="developer">Developer</span>
                </div> <a href="/assets/cv.html" data-text="Download Cv" download=""
                    class="primary-btn transition"><span>Download CV</span></a>
            </div>
            <div class="banner-img col-lg-6 col-md-6 align-self-end"><img src="https://karmen-vue.netlify.app/assets/img/banner-img.png"
                    alt="personal pic" class="img-fluid"></div>
        </div>
    </div>
</section>

<div class="brands-area" [ngClass]="{'section-gap':isMobileOrTabletView}">
    <div class="container">
        <div class="brand-wrap">
            <div
                class="row align-items-center active-brand-carusel justify-content-start no-gutters owl-carousel owl-theme owl-loaded">

                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="col single-brand transition"><a href="#"><img src="https://karmen-vue.netlify.app/assets/img/brand/b2.png"
                            alt="brand" class="mx-auto"></a>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="col single-brand transition"><a href="#"><img src="https://karmen-vue.netlify.app/assets/img/brand/b4.png"
                            alt="brand" class="mx-auto"></a></div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="col single-brand transition"><a href="#"><img src="https://karmen-vue.netlify.app/assets/img/brand/b3.png"
                            alt="brand" class="mx-auto"></a></div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="col single-brand transition"><a href="#"><img src="https://karmen-vue.netlify.app/assets/img/brand/b5.png"
                            alt="brand" class="mx-auto"></a></div>
                    </ng-template>  

                    <ng-template carouselSlide>
                        <div class="col single-brand transition"><a href="#"><img src="https://karmen-vue.netlify.app/assets/img/brand/b1.png"
                            alt="brand" class="mx-auto"></a></div>
                    </ng-template>  
                </owl-carousel-o>
            </div> 
        </div>
    </div>
</div>
