<section class="counter_area section-gap">
    <div class="container">
        <div class="row counter_inner">
            <div class="col-lg-3 col-md-6 counter-box">
                <div class="counter_item">
                    <div class="icon-bg mb-4 water-wave"><i class="fa fa-archive icon"></i></div> <span
                        class="counter">245</span>
                    <h5>total projects</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 counter-box">
                <div class="counter_item">
                    <div class="icon-bg mb-4 water-wave"><i class="fa fa-trophy icon"></i></div> <span
                        class="counter">535</span>
                    <h5>Trophy Won</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 counter-box">
                <div class="counter_item mb-md-0">
                    <div class="icon-bg mb-4 water-wave"><i class="fa fa-users icon"></i></div> <span
                        class="counter">288</span>
                    <h5>experiences staff</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 counter-box">
                <div class="counter_item mb-md-0">
                    <div class="icon-bg mb-4 water-wave"><i class="fa fa-smile-o icon"></i></div> <span
                        class="counter">750</span>
                    <h5>happy clients</h5>
                </div>
            </div>
        </div>
    </div>
</section>