<div class="preview__header" data-view="ctaHeader" data-item-id="33559374">
    <div class="preview__envato-logo">
      <a class="header-envato_market" href="https://themeforest.net/item/karmen-vue-portfolio-template/33559374">Envato Market</a>
    </div>
  
    <div id="js-preview__actions" class="preview__actions">
    <div class="preview__action--buy">
      <a class="header-buy-now e-btn--3d -color-primary" href="https://themeforest.net/checkout/from_item/33559374?license=regular&amp;support=bundle_6month">Buy now</a>
    </div>
  </div>
</div>
