<section id="history" class="job-area section-gap">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-12 mb-50">
                <div class="section-title">
                    <h2>Job History</h2>
                    <p>
                        It is a long established fact that a reader will be distracted by
                        the readable content of a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 job-box">
                <div class="single-job transition">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4 class="transition">Senior Creative Design</h4>
                            <p>Mansoura FCIS,Egypt</p>
                        </div>
                        <div class="top-right"><a href="#" data-text="Jul '15 to Present"
                                class="primary-btn transition"><span>J</span><span>u</span><span>l</span>
                                <span>'</span><span>1</span><span>5</span> <span>t</span><span>o</span>
                                <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span></a>
                        </div>
                    </div>
                    <div data-wow-duration="2s" class="bottom-sec wow fadeIn"
                        style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">
                        AIt has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 job-box">
                <div class="single-job transition">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4 class="transition">Front End Designer</h4>
                            <p>Mansoura FCIS,Egypt</p>
                        </div>
                        <div class="top-right"><a href="#" data-text="Jul '15 to Present"
                                class="primary-btn transition"><span>J</span><span>u</span><span>l</span>
                                <span>'</span><span>1</span><span>5</span> <span>t</span><span>o</span>
                                <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span></a>
                        </div>
                    </div>
                    <div data-wow-duration="2s" data-wow-delay="0.2s" class="bottom-sec wow fadeIn"
                        style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
                        AIt has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 job-box">
                <div class="single-job transition">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4 class="transition">Back End Developer</h4>
                            <p>Mansoura FCIS,Egypt</p>
                        </div>
                        <div class="top-right"><a href="#" data-text="Jul '15 to Present"
                                class="primary-btn transition"><span>J</span><span>u</span><span>l</span>
                                <span>'</span><span>1</span><span>5</span> <span>t</span><span>o</span>
                                <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span></a>
                        </div>
                    </div>
                    <div data-wow-duration="2s" data-wow-delay="0.4s" class="bottom-sec wow fadeIn"
                        style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeIn;">
                        AIt has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 job-box">
                <div class="single-job transition">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4 class="transition">UI/UX Designer</h4>
                            <p>Mansoura FCIS,Egypt</p>
                        </div>
                        <div class="top-right"><a href="#" data-text="Jul '15 to Present"
                                class="primary-btn transition"><span>J</span><span>u</span><span>l</span>
                                <span>'</span><span>1</span><span>5</span> <span>t</span><span>o</span>
                                <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span></a>
                        </div>
                    </div>
                    <div data-wow-duration="2s" data-wow-delay="0.6s" class="bottom-sec wow fadeIn"
                        style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeIn;">
                        AIt has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>