<section id="skill" class="skill-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 col-md-12">
                <div class="skill-title">
                    <h2>I Got The Skills</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
                        quasi mollitia rem quisquam atque pariatur, a ut, amet illum
                        quibusdam facere vitae delectus reiciendis fugit tempora esse sint
                        deserunt dolorum.
                    </p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <h3 class="progress-title">HTML5</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:85%">
                        <div class="progress-value">85%</div>
                    </div>
                </div>
                <h3 class="progress-title">CSS3</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:75%">
                        <div class="progress-value">75%</div>
                    </div>
                </div>
                <h3 class="progress-title">J-Query</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:90%">
                        <div class="progress-value">90%</div>
                    </div>
                </div>
                <h3 class="progress-title">Bootstrap</h3>
                <div class="progress mb-0">
                    <div class="progress-bar" style="width:60%">
                        <div class="progress-value">60%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>